
 .couldsanderswin {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: rgb(3,47,93);
  text-align: center;
  box-sizing: border-box;
}

.couldsanderswin a {
  color: rgb(3,47,93);
}

.couldsanderswin .article__heading {
  font-size: 30px;
  font-weight: 600;
}

.couldsanderswin .article__answer {
  color: #62c462;
  font-size: 60px;
}
